body,
html {
    height: 100%;
}

.bgimg {
    /* The image used */
    background-image: url("../img/back.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    position: absolute;
    top: 100%;
    right: 0;
}

.pill-button {
    background-color: rgba(53, 151, 175, 0.979);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.selected-player {
    background-color: rgb(212, 203, 67);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
